<p id="notice"><%= notice %></p>

<p>
  <strong>Line 1:</strong>
  <%= @autocomplete.line_1 %>
</p>

<p>
  <strong>Line 2:</strong>
  <%= @autocomplete.line_2 %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @autocomplete.suburb %>
</p>

<p>
  <strong>City:</strong>
  <%= @autocomplete.city %>
</p>

<p>
  <strong>Province: </strong>
  <%= @autocomplete.province %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @autocomplete.postal_code %>
</p>

<%= link_to 'Edit', edit_autocomplete_path(@autocomplete) %> |
<%= link_to 'Back', autocompletes_path %>
